[package]
name = "clashtui"
version = "0.3.0-reborn"
edition = "2021"

authors = ["Johan Chane <johanchanex at gmail dot com>"]
description = "Mihomo TUI Client"
license = "MIT"
repository = "https://github.com/JohanChane/clashtui"
homepage = "https://github.com/JohanChane/clashtui"
documentation = "https://github.com/JohanChane/clashtui"
readme = "README.md"

exclude = [".github", ".gitignore", "PkgManagers"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

# [badges]
# maintenance = { status = "passively-maintained" }

[features]
bin-cli = [
  "enumflags2",
  "clap_complete",
  "is-root",
  "clap",
  "log4rs",
  "encoding",
]
bin-tui = ["ratatui", "crossterm", "tokio", "bin-cli", "bin-dev"]
template = []
bin-dev = ["ratatui/unstable-widget-ref"]

[[bin]]
name = "clashtui"
required-features = ["bin-tui"]

[dependencies]
log = "^0.4.22"
enumflags2 = { version = "^0.7.10", optional = true }
clap_complete = { version = "^4.5.7", optional = true }
anyhow = "^1.0.86"
is-root = { version = "0.1.3", optional = true }
serde = { version = "^1.0.208", features = ["derive"] }
minreq = { version = "^2.12.0", features = [
  "proxy",
  "https",
  "json-using-serde",
] }
serde_json = "^1.0.125"
serde_yaml = "0.9.34"
futures = { version = "0.3.30", default-features = false }
thiserror = "1.0.63"

[dependencies.tokio]
version = "^1.39.0"
features = ["rt", "macros", "sync", "time"]
optional = true

[dependencies.crossterm]
version = "^0.28.1"
default-features = false
features = ["events", "event-stream"]
optional = true

[dependencies.ratatui]
version = "^0.28.1"
default-features = false
features = ["crossterm"]
optional = true

[target.'cfg(windows)'.dependencies]
encoding = { version = "^0.2.33", optional = true }

[dependencies.log4rs]
version = "^1.3.0"
default-features = false
optional = true
features = ["pattern_encoder", "file_appender"]

[dependencies.clap]
version = "^4.5.8"
default-features = false
optional = true
features = ["std", "derive", "help", "usage", "suggestions", "color"]


[profile.release]
lto = "fat"
opt-level = 's'
strip = true
incremental = true


[package.metadata.deb]
maintainer = 'Jackhr-arch <63526062+Jackhr-arch@users.noreply.github.com>'
extended-description = """
A tool for mihomo
"""
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
  [
    'target/release/clashtui',
    'usr/bin/clashtui',
    '755',
  ],
  [
    'README.md',
    'usr/share/doc/clashtui/README.md',
    '644',
  ],
]
maintainer-scripts = 'debian/'
